<%= render "shared/search" %>
This is the spaces#index page where we will see a search bar where we can search for spaces
<% @spaces.each do |space| %>
<p><%= link_to "#{space.title}", space_path(space.id) %></p>
<% end %>
