<div id="page">
	<%= render "shared/top_nav" %>
	this is the new space page that will have a form that posts to spaces#create
  <p>Upload Photos: <%= render "shared/pic_form" %></p>
	<%= render "shared/space_form" %>
</div>
