<%= render "shared/top_nav" %>

<div id="page">
  <div id="title3">Register A New Space with ArtSpace</div>
  <div id="photo_uploader">
    <p>Upload Photos:<br><span id="rmv_msg" hidden>click on newly uploaded photo to remove</span><%= render "shared/pic_form" %></p>
  </div>

  <%= render "shared/space_form" %>
  <%= render "shared/footer" %>
</div>
