<%= render "shared/top_nav" %>
<div id="title3">Register A New Space with ArtSpace</div>
<div id="page">
  <div id="photo_uploader">
    <p>Upload Photos: <%= render "shared/pic_form" %></p>
  </div>

  <%= render "shared/space_form" %>
  <%= render "shared/footer" %>
</div>
