<script id='calendar_info' type='application/json'>
 <%= @calendar_info.html_safe %>
</script>
<div id="calendarbox">
  <button id="make_reservation" data-space-id='<%=params[:id]%>'>Make Reservation</button>
  <div id="calendar">
  </div>
</div>

<script>

$(document).ready(function() {
  show_calendar("#calendar");
});
</script>
