<script id='calendar_info' type='application/json'>
 <%= @calendar_info.html_safe %>
</script>
<div id="calendarbox">
  <% if current_user %>
  <button id="make_reservation" data-space-id='<%=params[:id]%>'>Make Reservation</button>
  <% end %>
  <div id="calendar">
  </div>
  <div id="event_info" style="display: none;">
    <form id="event_form">
     <p><textarea name="description" id="description" cols="20" rows="5" placeholder="Please describe your intended use of the space as well as any equipment you may be bringing in."></textarea></p>
     <p> Number of people: <input type="text" name="count" id="count" /></p>
   </form>
  </div>
</div>

<script>

$(document).ready(function() {
  show_renter_calendar("#calendar");
});
</script>
