#event_form{
  font-family: 'Jura', sans-serif;
  border: 1px solid gray;
  border-radius: 40px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 20px;	
  text-align: center;
  input{
  font-size: 14px;
  }
  input[type=text]{
    font-family: 'Jura', sans-serif;
    padding: 5px;
    border-radius: 40px;
    color: darkgreen;
  }
  textarea{
    font-family: 'Jura', sans-serif;
    padding: 20px;
    font-size: 14px;
    border-radius: 40px;
    color: darkgreen;
  }
}
div.contents{
  font-family: 'Jura', sans-serif;
  border: 1px solid lightgray;
  border-radius: 40px;
  width: 30%;
  margin-left: 50%;
  margin-top: 200px;
  padding: 20px;
}
#title5{
  position: absolute;
  margin-left: 15%;
  margin-top: -50px;
  font-family: 'Jura', sans-serif;
  color: darkgreen;
  font-size: 30px;
  text-shadow: 5px 3px 3px lightgray;
}
div.photo{
  float: left;
  margin-left: 200px;
  position: absolute;
  img{
    max-height: 300px;
    border-radius: 40px;
  }
}
#title6{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -50px;
  font-family: 'Jura', sans-serif;
  color: darkgreen;
  font-size: 20px;
}
#hidden_text{
  display: none;
}