
#nav_wrapper{
  text-align: center;
  #manager_nav{
    display: inline-block;
    list-style-type: none;
    li{
      float: left;
      display: inline;
      list-style: none;
      a{
        font-family: 'Jura', sans-serif;
        margin-right: 50px;  
        color: gray;
        text-decoration: none;
        &:hover{
          color: black;
          font-weight: bold;
        }
      }
    }
  }
}
#title7{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-top: 150px;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 35px;
  text-shadow: 5px 3px 3px lightgray;
}


