
#nav_wrapper{
  text-align: center;
  #manager_nav{
    display: inline-block;
    list-style-type: none;
    li{
      float: left;
      display: inline;
      list-style: none;
      a{
        font-family: 'Jura', sans-serif;
        margin-right: 50px;  
        color: gray;
        text-decoration: none;
        &:hover{
          color: black;
          font-weight: bold;
        }
      }
    }
  }
}
#title7{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-top: 175px;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 35px;
  text-shadow: 5px 3px 3px lightgray;
}
#link{
  width: 100%;
  float: left;
  display: inline;
  font-family: 'Jura', sans-serif;
}

div.upcoming_reservations{
  border: 1px solid gray;
  border-radius: 20px;
  width: 65%;
  float: left;
  font-size: 14px;
  display: inline;
  margin: 1%;
  padding: 1%;
  h3{
    font-family: 'Jura', sans-serif;
    color: #993344;
    font-weight: bold;
    margin-left: 30px;
  }
}

div.options{
  border: 1px solid gray;
  border-radius: 20px;
  width: 25%;
  float: left;
  display: inline;
  margin: 1%;
  margin-bottom: 100px;
  padding: 1%;
  a{
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    margin-right: 50px;  
    color: gray;
    text-decoration: none;
    &:hover{
      color: black;
      font-weight: bold;
    }
  }
}
.inactive{
  color: lightgray;
  text-align: center;
}
div.upcoming_reservations{
  font-family: 'Jura', sans-serif;
}
.reservation_holder{
  background-color: purple;
}
.all_reservations{
  font-family: 'Jura', sans-serif;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 55%;
  font-size: 14px;
  margin: 0 auto;
  padding: 1%;
  margin-top: 20px;
}
.link{
  width: 100%;
  text-align: center;
  a{
  text-decoration: none;
  font-size: 40px;
  font-family: 'Jura', sans-serif;
  color: #993344;
    &:hover{
      font-weight: bold;
    }
  }
}
