.nav{
  background-color: gray;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  img{
    height: 200px;
    margin-top: -30px;
    margin-left: 90px;
  }
  a{
    text-decoration: none;
    color: white;
    font-family: 'Jura', sans-serif;
    margin-top: 100px;
    margin-right: 10%;
    float: right;
    &:hover{
      color: lightgray;
      font-weight: bold;
    }
  }
}
#title2{
  position: absolute;
  margin-left: 170px;
  margin-top: -195px;
  font-family: 'Over the Rainbow', cursive;
  color: #993344;
  opacity: 0%;
  font-size: 50px;
  text-shadow: 5px 3px 3px lightgray;
}
#search_form2{
  padding: 3%;
  width: 200px;
  border: 3px solid gray;
  border-radius: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}
#rate_form2{
  padding: 3%;
  width: 40px;
  border: 3px solid gray;
  border-radius: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}
.description{
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  letter-spacing: 0.5px;
  word-spacing: 7px;
  line-height: 120%;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 40px;
}

.footer{
  background-color: lightgray;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 100px; 
  height: 50px;
  clear:all;  
  z-index: 10;
  text-align: center;
  color: gray;
  font-family: 'Jura', sans-serif;
}
.search_it2 {
  background-color: #993344;
  color: white;
  border-radius: 20px;
  border: 3px solid gray;
  padding: 13px;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}
.search_it2:hover{
  border: 1px solid darkgreen;
  background: -webkit-linear-gradient(#993344, #993344, #993344, #993344, #993344, lightgray);
  background: -o-linear-gradient(#993344, #993344, #993344, #993344, #993344, lightgray);
  background: -moz-linear-gradient(#993344, #993344, #993344, #993344, #993344, lightgray);
  background: linear-gradient(#993344, #993344, #993344, #993344, #993344, lightgray);
}
.hello{
  color: white;
  font-family: 'Jura', sans-serif;
  position: absolute;
  margin-top: 10px;
  margin-left: 80%;
  z-index: 20;
}