.nav{
  background-color: gray;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  img{
    height: 200px;
    margin-top: -30px;
    margin-left: 150px;
  }
  a{
    text-decoration: none;
    color: white;
    font-family: 'Jura', sans-serif;
    float: right;
    margin-right: 100px;
    margin-top: 90px;
    &:hover{
      color: lightgray;
      font-weight: bold;
    }
  }
}
#title2{
  position: absolute;
  margin-left: 240px;
  margin-top: -195px;
  font-family: 'Over the Rainbow', cursive;
  color: darkgreen;
  opacity: 0%;
  font-size: 50px;
  text-shadow: 5px 3px 3px lightgray;
}

.footer{
  background-color: lightgray;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 100px; 
  height: 50px;
  clear:both;  
  z-index: 10;
}