#page{
  margin-top: 100px;
}
#outside {
    background: white;
    position:relative;
}

#link{
  text-align: center;
  a{
    text-decoration: none;
    font-family: 'Jura', sans-serif;
    color: gray;
    &:hover{
      color: black;
      font-weight: bold;
      text-shadow: 0px 5px 5px lightgray;
    }
  }
}
#outer-wrap {
    width: 1040px;
    height: 400px;
    margin:0 auto;
    margin-bottom: 200px;
    padding-top: 5px;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
}
#inner-wrap {
    float:left;
    margin-right:-999em;
    padding-left:20px;
    background-color: white;
    border-radius: 20px;
    padding:10px;
        position:relative;

}
.space_holder {
    float:left;
    width:450px;
    height: 275px;
    background-color: white;
    font-family: 'Jura', sans-serif;
    color: black;
    border: 3px solid lightgray;
    border-radius: 40px;
    padding: 20px;
    margin:20px 20px 0 0;
    position: relative;
    h4{
      text-align: center;
      margin-top: -50px;
    }
}
h5{
  display: inline;
  padding-right: 20px;
  color: #993344;
}

.directions{
  font-family: 'Jura', sans-serif;
  color: lightgray;
  text-align: center;
  margin-top: 30px;
}
.search_bar{
  padding-top: 30px;
  width: 31%;
  position: absolute;
  right: 0;
  background-color: gray;
}
#search_form2{
  padding: 3%;
  width: 200px;
  border: 3px solid gray;
  border-radius: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}
#rate_form2{
  padding: 3%;
  width: 40px;
  border: 3px solid gray;
  border-radius: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}
.description{
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: lightgray;
  background-color: #993344;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
  letter-spacing: 0.5px;
  word-spacing: 7px;
  line-height: 120%;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 40px;
}
#back{
  background-color: white;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  color: #993344;
  width: 50px;
  height: 35px;
  border: 1px solid #993344;
  border-radius: 40px;
  position: absolute;
  z-index: 10;
  margin-left: 5%;
  &:hover{
    background-color: lightgray;
    color: white;
    border: none;
    cursor: pointer;
  }
}
#forward{
  background-color: white;
  text-align: center;
  padding-top: 15px;
  color: #993344;
  width: 50px;
  height: 35px;
  border: 1px solid #993344;
  border-radius: 40px;
  position: absolute;
  z-index: 10;
  margin-left: 90%;
  &:hover{
    background-color: lightgray;
    color: white;
    border: none;
    cursor: pointer;
  }
}
h4 a{
  font-family: 'Jura', sans-serif;
  padding: 4%;  
  color: gray;
  text-decoration: none;
  &:hover{
    color: black;
    font-weight: bold;
  }
}
