#thumbnails {
  display: inline;
  margin-left: 10px;
  margin-top: 0;
  padding-left: 0;
}

#thumbnails img {
  border: 3px solid white;
  height: 85px;
  width: 85px;
  background-color: lightgrey;
  margin: 2px;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

#thumbnails .highlight:hover {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.show_inactive {
  color: red;
  text-shadow: none;
}

.contents a {
  text-decoration: none;
  color: inherit;
}
.contents a:hover {
  color: darkred;
}

.money {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}
.info_section{
  background-color: #993344;
}
