#space_form_list{
  list-style: none;
}

#uses{
  float:left;
  width: 100%;
  text-align: left;
  padding-left: 40%;
  margin-bottom: 2%;
}
#photo_uploader{
  width: 30%;
  font-family: 'Jura', sans-serif;
  border: 1px solid gray;
  border-radius: 40px;	
  text-align: center;
  margin: 0 auto;
  margin-top: 180px;
}
.spaceform{
  font-family: 'Jura', sans-serif;
  border: 1px solid gray;
  border-radius: 40px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 20px;	
  text-align: center;
  input{
  font-size: 14px;
  }
  input[type=text]{
    font-family: 'Jura', sans-serif;
    padding: 10px;
    border-radius: 40px;
    color: darkgreen;
  }
  input[type=password]{
    font-family: 'Jura', sans-serif;
    padding: 10px;
    border-radius: 40px;
    color: darkgreen;
  }
  input[type=email]{
    font-family: 'Jura', sans-serif;
    padding: 10px;
    border-radius: 40px;
    color: darkgreen;
  }
  textarea{
    font-family: 'Jura', sans-serif;
    padding: 20px;
    font-size: 14px;
    border-radius: 40px;
    color: gray;
  }
  input[type=number]{
    font-family: 'Jura', sans-serif;
    padding: 10px;
    border-radius: 40px;
    color: darkgreen;
  }
}
#title3{
  position: absolute;
  margin-left: 21%;
  margin-top: -60px;
  font-family: 'Jura', sans-serif;
  color: gray;
  font-size: 50px;
  text-shadow: 5px 3px 3px lightgray;
}
#title4{
  position: absolute;
  margin-left: 33%;
  margin-top: 20px;
  font-family: 'Jura', sans-serif;
  color: gray;
  font-size: 50px;
  text-shadow: 5px 3px 3px lightgray;
}
#edit_space_fields{
  list-style: none;
  padding: 0;
}
#edit_div{
  padding-top: 100px;
}



