#space_form_list{
  list-style: none;
}
#space_form{
  input{
    font-size: 12px;
  }
  textarea{
    font-family: 'Jura', sans-serif;
    font-size: 14px;
    padding: 20px;
    border-radius: 40px;
    color: gray;
  }
  input[type=number]{
    font-family: 'Jura', sans-serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 40px;
    color: darkorange;
  }
}
#uses{
  float:left;
  width: 100%;
  text-align: left;
  padding-left: 40%;
  margin-bottom: 2%;
}
#photo_uploader{
  width: 30%;
  font-family: 'Jura', sans-serif;
  border: 1px solid gray;
  border-radius: 40px;	
  text-align: center;
  margin: 0 auto;
}

