// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.user_show{
  font-family: 'Jura', sans-serif;
  padding-top: 100px;

}
#favorite{
  width: 100%;
  margin-left: 10%;
}
#favorite_label{
  margin-top: 110px;
  color: black;
  float: left;
  display: inline;
  padding-left: 10%;
  font-family: 'Jura', sans-serif;
  position: absolute;
}

#upcoming{
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid lightgray;
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  p{
   color: black; 
  }
  h2{
    text-align: center;
  }
}
div.fave{
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin: 0 auto;
  margin-left: 18%;
  border: 1px solid lightgray;
  float: left;
  display: inline;
  background: -webkit-linear-gradient(lightgray, lightgray, lightgray, lightgray, lightgray, white);
  background: -o-linear-gradient(lightgray, lightgray, lightgray, lightgray, lightgray, white);
  background: -moz-linear-gradient(lightgray, lightgray, lightgray, lightgray, lightgray, white);
  background: linear-gradient(lightgray, lightgray, lightgray, lightgray, lightgray, white);
  p{
    width: 500%;
    padding-left: 20px;
    a{
      color: gray;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      &:hover{
        color: darkorange;
      }
    }
  }
}
span.color{
  color: darkorange;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}
hr{ 
  background-color: lightgray; 
  height: 1px; 
  border: 0; 
  }
#search_placement{
  padding-top: 10px;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
  padding-left: 35%;
  float: left;
}
