// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#focal{
  height: 690px;
  width: 800px;
  margin: 100px auto;
  background: url(image_path('dance_photo.jpg')) no-repeat;
  border-radius: 80px;
}

#login{
  background-color: white;
  width: 30%;
  height: 100px;
  right: 0;
  position: absolute;
  padding-left: 50px;
  border-radius: 30px;
  margin-top: 500px;
  p{
    padding-top: 12%;
    padding-left: 10%;
    a{
      font-family: 'Jura', sans-serif;
  	  padding: 4%;	
  	  color: gray;
      text-decoration: none;
      &:hover{
        color: black;
        font-weight: bold;
      }
    }
  }
}

#signup{
  background-color: white;
  width: 30%;
  height: 100px;
  float: right;
  padding-left: 100px;
  border-radius: 30px;
  right: 0;
  position: absolute;
  margin-top: 600px;
  p{
    padding-left: 10%;
    a{
      font-family: 'Jura', sans-serif;
      padding: 4%;
      color: gray;
      text-decoration: none;
      &:hover{
        color: black;
        font-weight: bold;
      }
    }
  }
}

.white_bar1{
  background-color: white;
  width: 35%;
  height: 80px;
  float: left;
  padding-left: 100px;
  border-radius: 30px;
}
.white_bar2{
  background-color: white;
  margin-top: 80px;
  width: 35%;
  height: 80px;
  position: absolute; 
  left: 0;
  padding-left: 100px;
  border-radius: 30px;
}

.white_bar3{
  background-color: white;
  width: 25%;
  height: 80px;
  float: left;
  position: absolute;
  padding-left: 100px;
  border-radius: 30px;
  margin-top: 160px;
}
#signin{
  position: absolute;
  width: 80%;
  margin-top: 80px;
  margin-left: 250px;
}

#title{
  position: absolute;
  font-family: 'Jura', sans-serif;
  color: gray;
  font-size: 50px;
  text-shadow: 5px 3px 3px lightgray;
  margin-left: 275px;
}
#search_form{
  padding: 1%;
  width: 120px;
  border: 3px solid gray;
  border-radius: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}
#rate_form{
  padding: 1%;
  width: 40px;
  border: 3px solid gray;
  border-radius: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}
.search_it {
  background-color: gray;
  color: white;
  border-radius: 20px;
  border: 3px solid gray;
  padding: 13px;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}
.search_it:hover{
  border: 1px solid gray;
  background: -webkit-linear-gradient(gray, gray, gray, gray, gray, lightgray);
  background: -o-linear-gradient(gray, gray, gray, gray, gray, lightgray);
  background: -moz-linear-gradient(gray, gray, gray, gray, gray, lightgray);
  background: linear-gradient(gray, gray, gray, gray, gray, lightgray);
}
.opening_quote{
  position: absolute;
  z-index: 10;
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 5px black;
  margin-top: 500px;
  margin-left: 400px;
}
.text{
  position: absolute;
  z-index: 10;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  width: 20%;
  padding: 0;
  margin-top: 550px;
  margin-left: 50px;
}