<div id="page">
  <%= render "shared/top_nav" %>
  this is the new space page that will have a calendar to identify availability
  <%= render "shared/availability_calendar" %>
  <%= render "shared/footer" %>
</div>



